body{
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

body.light{
  color: black;
  background: #E8E8E8;
}

body.dark{
  color: #E8E8E8;
  background: #181818;
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 1.2;
  padding: 10px 10px;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

h3{
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

h4{
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
}

p{
  padding: 10px 50px;
  line-height: 1.5;
  text-align: center;
}

button{
  margin: 10px 10px;
  padding: 5px 10px;
  font-family: Avenir, sans-serif;
  font-size: .8em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
}

footer a{
  color: #8996ED;
}

footer a:focus{
  color: #ffcf06;
  border: 2px solid white;
}

.current a{
  padding: 5px 10px;
  background-color: #FFCF06;
  border: 2px dashed black;
}

.current a:focus{
  color: black;
  border: 2px solid black;
}

/* Form */
textarea{
  width: 75vw;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=email], select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contact_form {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
